<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{review.name}}</span>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

    <form [formGroup]="reviewForm">
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex>
          <input name="name" formControlName="name" placeholder="Полное имя" matInput required>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex>
          <input name="passport" formControlName="rate" placeholder="Оценка" matInput>
        </mat-form-field>
      </div>

      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-form-field fxFlex>
          <textarea name="phone" formControlName="review" rows="5" matInput placeholder="Отзыв"></textarea>
        </mat-form-field>
      </div>
      <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
        <mat-checkbox color="primary" formControlName="disabled" name="phone">Отключено</mat-checkbox>
      </div>

    </form>

  </div>

  <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

    <button *ngIf="action !=='edit'"
            mat-raised-button
            (click)="dialogRef.close(reviewForm)"
            class="save-button mat-accent"
            [disabled]="reviewForm.invalid"
            aria-label="SAVE">
      SAVE
    </button>

    <button *ngIf="action ==='edit'"
            mat-raised-button
            (click)="dialogRef.close(['save',reviewForm])"
            class="save-button mat-accent"
            [disabled]="reviewForm.invalid"
            aria-label="SAVE">
      SAVE
    </button>

    <button *ngIf="action ==='edit'"
            mat-icon-button
            (click)="dialogRef.close(['delete',reviewForm])"
            aria-label="Delete"
            matTooltip="Delete">
      <mat-icon>delete</mat-icon>
    </button>

  </div>
</div>
