<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--<mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
          <img [src]="driverAvatarURL" class="avatar contact-avatar huge m-0"
               [alt]="driver.name.rus"/>
          <div class="contact-name mt-8">{{driver.name.rus}}</div>
        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form [formGroup]="storeForm">
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">store</mat-icon>
                    <input name="name_rus" formControlName="name_heb" placeholder="Full Name Hebrew" matInput required>
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">store</mat-icon>
                    <input name="name_en" formControlName="name_en" placeholder="Full name English" matInput required>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">assignment_ind</mat-icon>
                    <input name="description_heb" formControlName="description_heb" placeholder="Description Hebrew"
                           matInput>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">assignment_ind</mat-icon>
                    <input name="description_en" formControlName="description_en" matInput
                           placeholder="Description English">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">my_location</mat-icon>
                    <input name="address_en" formControlName="address_en" placeholder="Address English" matInput>
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">my_location</mat-icon>
                    <input name="address_heb" formControlName="address_heb" matInput placeholder="Address Hebrew">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>
                    <input name="tel" formControlName="tel" matInput type="tel" placeholder="Phone">
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone</mat-icon>
                    <input name="fax" formControlName="fax" matInput type="tel" placeholder="Fax">
                </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">smartphone</mat-icon>
                    <input name="mobile" formControlName="mobile" matInput type="tel" placeholder="Mobile">
                </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field fxFlex>
                    <mat-icon matPrefix class="mr-12 s-20 secondary-text">email</mat-icon>
                    <input name="mail" formControlName="mail" matInput type="email" placeholder="Email">
                </mat-form-field>
            </div>

            <!--
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field class="mr-24" fxFlex>
                <mat-icon matPrefix class="mr-12 s-20 secondary-text">cake</mat-icon>
                <input matInput [matDatepicker]="birthdayDatePicker" placeholder="Дата рождения" formControlName="birthday">
                <mat-datepicker-toggle matSuffix [for]="birthdayDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #birthdayDatePicker></mat-datepicker>
              </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field class="mr-24" fxFlex>
                <mat-select placeholder="Выбери тип машины" formControlName="carType" required>
                  <mat-option [value]="carType" *ngFor="let carType of carTypes">{{carType.name.rus}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field class="mr-24" fxFlex>
                <mat-select placeholder="Выбери языки водителя" formControlName="languages" multiple required>
                  <mat-option [value]="speaklang" *ngFor="let speaklang of languages">{{speaklang.name.rus}}</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
              </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start">
              <mat-form-field class="mr-24" fxFlex>
                <mat-select placeholder="Выбери города" formControlName="cities" multiple required>
                  <mat-option [value]="city" *ngFor="let city of cities">{{city.name.rus}}</mat-option>
                </mat-select>
                <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>
              </mat-form-field>
            </div>
            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="driverForm.get('cur_lang').value === 'en'">
              <mat-form-field fxFlex>
                <mat-icon matPrefix class="mr-12 s-20 secondary-text">description</mat-icon>
                <textarea name="description_en" formControlName="description_en" placeholder="Description" matInput></textarea>
              </mat-form-field>
            </div>

            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" *ngIf="driverForm.get('cur_lang').value === 'rus'">
              <mat-form-field fxFlex>
                <mat-icon matPrefix class="mr-12 s-20 secondary-text">description</mat-icon>
                <textarea name="description_rus" formControlName="description_rus" placeholder="Описание" matInput></textarea>
              </mat-form-field>
            </div>-->
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">

        <button *ngIf="action !=='edit'"
                mat-raised-button
                (click)="dialogRef.close(storeForm)"
                class="save-button mat-accent"
                [disabled]="storeForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-raised-button
                (click)="dialogRef.close(['save',storeForm])"
                class="save-button mat-accent"
                [disabled]="storeForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

        <button *ngIf="action ==='edit'"
                mat-icon-button
                (click)="dialogRef.close(['delete',storeForm])"
                aria-label="Delete"
                matTooltip="Delete">
            <mat-icon>delete</mat-icon>
        </button>

    </div>
</div>
