<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="heheaderader accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                    (click)="toggleSidebar('contacts-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">location_city
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Orders
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input  placeholder="Search for a contact">
                </div>

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <!--<div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Orders</mat-label>
                        <mat-icon matSuffix class="secondary-text">star</mat-icon>
                        <mat-select #countryValue>
                            <mat-option [value]="c" *ngFor="let c of countries">
                                {{c.name.heb}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="menu" mat-fab (click)="editCountry(countryValue.value)" [disabled]="!countryValue.value">Edit</button>
                <button class="menu" mat-fab color="primary" (click)="deleteCountry(countryValue.value)" [disabled]="!countryValue.value">Delete</button>

                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Region</mat-label>
                        <mat-icon matSuffix class="secondary-text">star</mat-icon>
                        <mat-select #regionValue>
                            <mat-option [value]="r" *ngFor="let r of regions">
                                {{r.name.heb}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="menu" mat-fab (click)="editRegion(regionValue.value)" [disabled]="!regionValue.value">Edit</button>
                <button class="menu" mat-fab color="primary" (click)="deleteRegion(regionValue.value)" [disabled]="!regionValue.value">Delete</button>
            </div>-->
            <form [formGroup]="sortFormGroup">
                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                        <mat-form-field>
                            <input matInput formControlName="fromDate" [matDatepicker]="picker"  placeholder="From date">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker  #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                        <mat-form-field>
                            <input matInput formControlName="toDate" [matDatepicker]="picker2" placeholder="To date">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker  #picker2></mat-datepicker>
                        </mat-form-field>

                    </div>
                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                        <button mat-raised-button (click)= "sortByDate()" color="accent">Sort by date</button>
                    </div>
                   <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                        <mat-form-field appearance="outline" fxFlex>
                            <mat-label>Store name</mat-label>
                            <mat-icon matSuffix class="secondary-text">star</mat-icon>
                            <mat-select [(value)]="storesSelected" multiple  (selectionChange) = "sortByType()"  >

                                <mat-option value="{{store._id}}" *ngFor="let store of stores">
                                    {{store.name.en}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </form>

            <order-contact-list>

            </order-contact-list>
        </div>
    </div>

</div>

<!-- ADD COUNTRY BUTTON -->
<!--<button mat-fab class="accent" id="add-country-button" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>room</mat-icon>
</button>-->
<!-- / ADD COUNTRY BUTTON -->

<!-- ADD REGION BUTTON -->
<!--<button mat-fab class="accent" id="add-region-button" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>map</mat-icon>
</button>-->
<!-- / ADD REGION BUTTON -->

<!-- ADD CITY BUTTON -->
<!--<button mat-fab class="accent" id="add-city-button" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>location_city</mat-icon>
</button>-->
<!-- / ADD CITY BUTTON -->
