<div id="message" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="heheaderader accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                >
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">textsms
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Messages
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->
 
        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input placeholder="Search for a contact">
                </div>

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
                <form [formGroup]="sortFormGroup">
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                    <mat-form-field>
                        <input matInput formControlName="fromDate" [matDatepicker]="picker"  placeholder="From date">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker  #picker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                    <mat-form-field>
                        <input matInput formControlName="toDate" [matDatepicker]="picker2" placeholder="To date">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker  #picker2></mat-datepicker>
                    </mat-form-field>

                </div> 
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                        <button mat-raised-button (click)= "sortByDate()" color="accent">Sort by date</button>
                </div>
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Type message</mat-label>
                        <mat-icon matSuffix class="secondary-text">star</mat-icon>
                        <mat-select [(value)]="typeMessage"  (selectionChange) = "sortByType()"  >
                            <mat-option value="">
                               All
                            </mat-option>
                            <mat-option value="{{_messageType[t]}}" *ngFor="let t of _messageType.values()">
                                    {{t}}
                                </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div> 
            </div>
        </form>           
            <app-list-message> </app-list-message>
        </div>
    </div>

</div>