<div id="contacts" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- HEADER -->
    <div class="heheaderader accent p-16 p-sm-24" fxLayout="column" fxLayoutAlign="start"
         fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

        <!-- APP TITLE -->
        <div fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="sidebar-toggle mr-12" fxHide.gt-sm
                    (click)="toggleSidebar('contacts-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <div class="logo" fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon mr-16"
                          [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">location_city
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    Items
                </span>
            </div>

        </div>
        <!-- / APP TITLE -->

        <!-- SEARCH -->
        <div class="ml-sm-32" fxLayout="row" fxLayoutAlign="center center" fxFlex>

            <div class="search-wrapper mt-16 mt-sm-0">

                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input [formControl]="searchInput" placeholder="Search for a contact">
                </div>

            </div>

        </div>
        <!-- / SEARCH -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">
        <!-- CENTER -->
        <div class="center p-24 pb-56 pr-sm-92" fusePerfectScrollbar>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                    <mat-form-field appearance="outline" fxFlex>
                        <mat-label>Category</mat-label>
                        <mat-icon matSuffix class="secondary-text">star</mat-icon>
                        <mat-select #categoryValue>
                            <mat-option [value]="c" *ngFor="let c of categories">
                                {{c.name.heb}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <button class="menu" mat-fab (click)="editCategory(categoryValue.value)" [disabled]="!categoryValue.value">
                    Edit
                </button>
                <button class="menu" mat-fab color="primary" (click)="deleteCategory(categoryValue.value)"
                        [disabled]="!categoryValue.value">Delete
                </button>
            </div>
            <item-contact-list [category]="categoryValue.value"></item-contact-list>
        </div>
    </div>

</div>

<!-- ADD ITEM BUTTON -->
<button mat-fab class="accent" id="add-country-button" (click)="newItem()" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>local_florist</mat-icon>
</button>
<!-- / ADD COUNTRY BUTTON -->

<!-- ADD CATEGORY BUTTON -->
<button mat-fab class="accent" id="add-region-button" (click)="newCategory()" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <mat-icon>category</mat-icon>
</button>
<!-- / ADD REGION BUTTON -->
