<mat-card >
    <button mat-raised-button color="primary" (click) = "exporter.exportTable('csv',
    {fileName:'orders', Props: {Author: 'hashve'}}) ">Export to csv</button>

    <div class="contacts-contact-list">
        <mat-table matTableExporter  #table matSort  #exporter="matTableExporter" [dataSource]="dataSource"
                   [@animateStagger]="{value:'50'}">
            <!-- Checkbox Column -->
            <ng-container matColumnDef="checkbox">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <mat-checkbox [(ngModel)]="checkboxes[order._id]" (ngModelChange)="onSelectedChange(order._id)"
                                  (click)="$event.stopPropagation()">
                    </mat-checkbox>
                </mat-cell>
            </ng-container>

            <!-- ref order -->
            <ng-container matColumnDef="order_number">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Order Number</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class=" font-weight-600">{{order.orderNumber}}</p>
                </mat-cell>
            </ng-container>

            <!-- sender name -->
            <ng-container matColumnDef="sender_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Sender Fullname </mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class=" font-weight-600">{{order.customerDitails.fullName}}</p>
                </mat-cell>
            </ng-container>

            <!-- date -->
            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Date </mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class=" font-weight-600">{{order.createdAt | date}}</p>
                </mat-cell>
            </ng-container>
            <!-- Store name -->
            <ng-container matColumnDef="store_name">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Store name </mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class=" font-weight-600">{{order.productOffer.store.name.heb}}</p>
                </mat-cell>
            </ng-container>

            <!-- products of order -->
            <ng-container matColumnDef="products">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Product(s) + size</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class=" font-weight-600">
                        {{order.productOffer.package.baseItem.name.heb}}
                    </p>
                    <p class=" font-weight-600" *ngFor=" let product of  order.productOffer.package.addItems ">
                        ,{{product.name.heb}}
                    </p>
                    <p> ({{order.productOffer.package.size}})</p>

                </mat-cell>
            </ng-container>
            <!-- Delivery City -->
            <ng-container matColumnDef="delivery_city">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery City</mat-header-cell>
                <mat-cell *matCellDef="let order">
                    <p class=" font-weight-600">{{ _deliveryType.pickup === order.deliveryDetails.deliveryType?'Pickup': (_deliveryType.delivery === order.deliveryDetails.deliveryType?order.deliveryAddress.city.name.heb:"")}}</p>
                </mat-cell>
            </ng-container>

            <!-- Full price -->
            <ng-container matColumnDef="full_price">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Price</mat-header-cell>
                <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                    <p class="email ">
                        {{order.price + order.deliveryPrice}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Payment method -->
            <ng-container matColumnDef="payment_method">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Payment method</mat-header-cell>
                <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                    <p class="email " *ngIf="order.productOffer.finished === false">
                        NA
                    </p>
                    <p class="email " *ngIf="order.creditCardDetails !== undefined ">
                        Credit card
                    </p>
                    <p class="email " *ngIf="order.paymentType == _payementType.phone && order.phonePaymentDetails !== undefined">
                        {{_payementType[order.paymentType]}}
                    </p>
                </mat-cell>
            </ng-container>
            <!-- Status -->
            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Status</mat-header-cell>
                <mat-cell *matCellDef="let order" fxHide fxShow.gt-sm>
                    <p class="email ">
                        {{order.status.length === 0 ? '-' :orderStatuses[order.status[order.status.length -1].type]}}
                    </p>
                </mat-cell>
            </ng-container>

            <!-- Buttons Column -->
            <ng-container matColumnDef="buttons">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let city">
                    <div fxFlex="row" fxLayoutAlign="end center">
                        <!--<button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact._id)" aria-label="Toggle star">
                            <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact._id)">star</mat-icon>
                            <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact._id)">star_border</mat-icon>
                        </button>-->

                        <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                                (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>

                        <mat-menu #moreMenu="matMenu">
                            <button mat-menu-item aria-label="remove" > <!--(click)="deleteCity(city)"-->
                                <mat-icon>delete</mat-icon>
                                <span>Remove</span>
                            </button>
                        </mat-menu>
                    </div>

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let order; columns: displayedColumns;"
                     class="contact"
                     [ngClass]="{'accent-50':checkboxes[order._id]}"
                     matRipple
                     (click)="onClickOrder(order)"
                     [routerLink]="'/apps/orders/'+order._id"
                     [@animate]="{value:'*',params:{y:'100%'}}">
            </mat-row>
            <!--(click)="editContact(city)"-->
        </mat-table>
    </div>

</mat-card>