<mat-table #table matSort [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let city">
            <mat-checkbox [(ngModel)]="checkboxes[city._id]" (ngModelChange)="onSelectedChange(city._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name_en">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name English</mat-header-cell>
        <mat-cell *matCellDef="let city">
            <p class="text-truncate font-weight-600">{{city.name.en}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name_heb">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name Hebrew</mat-header-cell>
        <mat-cell *matCellDef="let city">
            <p class="text-truncate font-weight-600">{{city.name.heb}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="country">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Country</mat-header-cell>
        <mat-cell *matCellDef="let city" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{city.country}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="region">
        <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-sm>Region</mat-header-cell>
        <mat-cell *matCellDef="let city" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{city.region}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let city">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--<button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact._id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact._id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact._id)">star_border</mat-icon>
                </button>-->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteCity(city)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let city; columns: displayedColumns;"
             class="contact"
             (click)="editContact(city)"
             [ngClass]="{'accent-50':checkboxes[city._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


