<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img
                [src]="apiHost + itemPicPath + articleForm.get('pic').value"
                class="avatar city-avatar huge m-0"
                [alt]="article.header.heb"/>
            <div class="city-name mt-8">{{article.header.heb}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <app-uploads [path]="picPath"></app-uploads>
        <form [formGroup]="articleForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Header English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="header_en" formControlName="header_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Header Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="header_heb" formControlName="header_heb" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Slogan English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="slogan_en" formControlName="slogan_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Slogan Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="slogan_heb" formControlName="slogan_heb" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>ShitFromLeft English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="shitFromLeft_en" formControlName="shitFromLeft_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>ShitFromLeft Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="shitFromLeft_heb" formControlName="shitFromLeft_heb" matInput required>
                </mat-form-field>
            </div>

            <h3>Text Hebrew</h3>
            <div fxLayout="row" fxLayoutAlign="start start">
                <angular-editor id="editor1" formControlName="text_heb" [config]="editorConfig"></angular-editor>
            </div>
            <h3>Description English</h3>
            <div fxLayout="row" fxLayoutAlign="start start">
                <angular-editor id="editor2" formControlName="text_en" [config]="editorConfig"></angular-editor>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="showInList">Show In List</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="showOnHomePage">Show On Home Page</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Article Type</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <mat-select formControlName="articleType">
                        <mat-option value="">
                            NA
                        </mat-option>
                        <mat-option value="{{_articleType[t]}}" *ngFor="let t of _articleType.values()">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" formGroupName="binding">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Binding Type</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <mat-select formControlName="bindingType">
                        <mat-option value="">
                            NA
                        </mat-option>
                        <mat-option value="{{_bindingType[t]}}" *ngFor="let t of _bindingType.values()">
                            {{t}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" formGroupName="binding"
                 *ngIf="articleForm.get('binding.bindingType').value === _bindingType.city">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>City</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <mat-select formControlName="object">
                        <mat-option value="{{c._id}}" *ngFor="let c of (cities | async)">
                            {{c.name.heb}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start" formGroupName="binding"
                 *ngIf="articleForm.get('binding.bindingType').value === _bindingType.region">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Region</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <mat-select formControlName="object">
                        <mat-option value="{{r._id}}" *ngFor="let r of (regions | async)">
                            {{r.name.heb}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <fieldset>
                <legend>SEO</legend>
                <seo-basic-info formControlName="seo"></seo-basic-info>
            </fieldset>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',articleForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(articleForm)"
                [disabled]="articleForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',articleForm])"
                [disabled]="articleForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
