<ng-container [formGroup]="basicSeoForm">
    <div class="mb-24" fxLayout="row wrap" fxLayoutAlign="stretch" formGroupName="h1">
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;" >
            <mat-label>H1 Hebrew</mat-label>
            <input name="address_heb" formControlName="heb" placeholder="H1 Hebrew"
                   matInput>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>H1 English</mat-label>
            <input name="address_heb" formControlName="en" placeholder="H1 English"
                   matInput>
        </mat-form-field>
    </div>
    <div class="mb-24" fxLayout="row" fxLayoutAlign="stretch" fxFlex="1 1 auto" formGroupName="title">
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>Title Hebrew</mat-label>
            <input name="address_heb" formControlName="heb" placeholder="Title Hebrew"
                   matInput>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>Title English</mat-label>
            <input name="address_heb" formControlName="en" placeholder="Title English"
                   matInput>
        </mat-form-field>
    </div>
    <div class="mb-24" fxLayout="row" fxLayoutAlign="stretch" fxFlex="1 1 auto" formGroupName="description">
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>Description Hebrew</mat-label>
            <input name="address_heb" formControlName="heb"
                   placeholder="Description Hebrew" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>Description English</mat-label>
            <input name="address_heb" formControlName="en"
                   placeholder="Description English" matInput>
        </mat-form-field>
    </div>
    <div class="mb-24" fxLayout="row" fxLayoutAlign="stretch" fxFlex="1 1 auto" formGroupName="keywords">
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>Key words Hebrew</mat-label>
            <input name="address_heb" formControlName="heb"
                   placeholder="Keywords Hebrew" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="1 1 auto" style="width: 50%;">
            <mat-label>Key words English</mat-label>
            <input name="address_heb" formControlName="en"
                   placeholder="Keywords English" matInput>
        </mat-form-field>
    </div>
</ng-container>
