<div id="product" class="page-layout carded fullwidth" fusePerfectScrollbar>

    <!--TOP BACKGROUND-->
    <div class="top-bg accent"></div>
    <!--/ TOP BACKGROUND-->

    <!--CENTER-->
    <div class="center">

        <!--HEADER-->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!--APP TITLE-->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/stores'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" *fuseIfOnDom
                     [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img [src]="serverPath + 'assets/images/drivers/' + storeAvatar">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                     *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='edit'">
                        {{store.name.en}}
                    </div>
                    <div class="h2" *ngIf="pageType ==='new'">
                        New Store
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Store Information</span>
                    </div>
                </div>
            </div>
            <!--/ APP TITLE-->

            <button mat-raised-button
                    class="save-product-button mat-white-bg"
                    [disabled]="storeForm.invalid"
                    *ngIf="pageType ==='new'" (click)="addProduct()">
                <span>Add New Store</span>
            </button>

            <button mat-raised-button
                    class="save-product-button mat-white-bg"
                    [disabled]="storeForm.invalid"
                    *ngIf="pageType ==='edit'" (click)="saveStore()">
                <span>Сохранить</span>
            </button>
        </div>
        <!--/ HEADER-->

        <!--CONTENT CARD-->
        <div class="content-card mat-white-bg">

            <!--CONTENT-->
            <div class="content">

                <mat-tab-group>

                    <mat-tab label="Basic Information">
                        <form name="productForm" [formGroup]="storeForm" class="product w-100-p" fxLayout="column"
                              fxFlex>
                            <div class="tab-content p-24" fusePerfectScrollbar>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center" formGroupName="name">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">person</mat-icon>
                                            <input name="name_en" formControlName="en"
                                                   placeholder="Store Name English" matInput required>
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">person</mat-icon>
                                            <input name="name_heb" formControlName="heb"
                                                   placeholder="Store Name Hebrew" matInput required>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center" 
                                     formGroupName="description">
                                     <div fxLayout="column" fxFlex="1 1 auto">
                                        <h3>Description Hebrew</h3>
                                        <angular-editor id="editor1" formControlName="heb" [config]="editorConfig"></angular-editor>
                                    </div>
                                    <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">assignment_ind
                                            </mat-icon>

                                            <input name="description_en" formControlName="en"
                                                   placeholder="Description English" matInput>
                                        </mat-form-field>
                                    </div>-->

                                    <div fxLayout="column" fxFlex="1 1 auto">
                                        <h3>Description English</h3>
                                        <angular-editor id="editor2" formControlName="en" [config]="editorConfig"></angular-editor>
                                    </div>

                                    <!--<div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">assignment_ind
                                            </mat-icon>
                                            <input name="description_heb" formControlName="heb"
                                                   placeholder="Description Hebrew" matInput>
                                        </mat-form-field>
                                    </div>-->
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone_android
                                            </mat-icon>
                                            <input name="link" formControlName="link" matInput placeholder="link">
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone_android
                                            </mat-icon>
                                            <input name="ind" formControlName="ind" matInput placeholder="identifier">
                                        </mat-form-field>
                                    </div>
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-label>City</mat-label>
                                            <mat-select formControlName="city">
                                                <mat-option [value]="c._id"
                                                            *ngFor="let c of cities;">{{c.name.heb}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center" formGroupName="address">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">assignment_ind
                                            </mat-icon>
                                            <input name="address_en" formControlName="en"
                                                   placeholder="Address English" matInput>
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">assignment_ind
                                            </mat-icon>
                                            <input name="address_heb" formControlName="heb"
                                                   placeholder="Address Hebrew" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone_android
                                            </mat-icon>
                                            <input name="tel" formControlName="tel" matInput placeholder="Phone">
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone_android
                                            </mat-icon>
                                            <input name="fax" formControlName="fax" matInput placeholder="Fax">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">phone_android
                                            </mat-icon>
                                            <input name="mobile" formControlName="mobile" matInput placeholder="Mobile">
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">description</mat-icon>
                                            <input name="mail" formControlName="mail" placeholder="Email" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-checkbox formControlName="adminActive">Admin Active Store</mat-checkbox>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-checkbox formControlName="toHomePage">To Home Page</mat-checkbox>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-checkbox disabled formControlName="active">Active Store</mat-checkbox>
                                    </div>

                                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-checkbox formControlName="callToStore">Call To Store</mat-checkbox>
                                    </div>
                                    <div fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-checkbox formControlName="callNumber">Call Number</mat-checkbox>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">description</mat-icon>
                                            <input name="message" formControlName="message" placeholder="Message"
                                                   matInput>
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field fxFlex>
                                            <mat-icon matPrefix class="mr-12 s-20 secondary-text">description</mat-icon>
                                            <input name="adminMessage" formControlName="adminMessage"
                                                   placeholder="Admin Message" matInput>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <fieldset>
                                    <legend>Location:</legend>
                                    <div fxLayout="row wrap" fxLayoutAlign="space-between center"
                                         formGroupName="storeLocation">
                                        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                            <mat-form-field fxFlex>
                                                <mat-icon matPrefix class="mr-12 s-20 secondary-text">my_location
                                                </mat-icon>
                                                <input name="latitude" formControlName="lat" placeholder="Latitude"
                                                       matInput>
                                            </mat-form-field>
                                        </div>

                                        <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                            <mat-form-field fxFlex>
                                                <mat-icon matPrefix class="mr-12 s-20 secondary-text">my_location
                                                </mat-icon>
                                                <input name="longitude" formControlName="lng"
                                                       placeholder="Longitude" matInput>
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </fieldset>
                                <div fxLayout="row wrap" fxLayoutAlign="space-between center">
                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Payment Type</mat-label>
                                            <!--<mat-icon matSuffix class="secondary-text">local_florist</mat-icon>-->
                                            <mat-select formControlName="payments" multiple>
                                                <mat-option value="{{paymenttype[type]}}"
                                                            *ngFor="let type of paymentType;">{{type}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>

                                    <div class="mb-24" fxLayout="row" fxLayoutAlign="start start" fxFlex="1 1 auto">
                                        <mat-form-field appearance="outline" fxFlex>
                                            <mat-label>Delivery Types</mat-label>
                                            <!--<mat-icon matSuffix class="secondary-text">local_florist</mat-icon>-->
                                            <mat-select formControlName="deliveryTypes" multiple>
                                                <mat-option value="{{deliverytype[type]}}"
                                                            *ngFor="let type of deliveryType;">{{type}}</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div fxLayout="row wrap" fxLayoutAlign="stretch">

                                    <!-- week hours start -->
                                    <fieldset fxFlex="1 1 auto">
                                        <legend>Week Hours:</legend>
                                        <div fxLayout="column wrap" fxLayoutAlign="space-between stretch"
                                             formGroupName="weekHours">
                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 100%">
                                                <mat-checkbox formControlName="active">active</mat-checkbox>
                                            </div>

                                            <div class="mb-24" fxLayout="row" fxFlex="1 1 100%" formGroupName="open">
                                                <mat-form-field fxFlex>
                                                    <mat-label>Open Huur</mat-label>
                                                    <mat-select name="hour" formControlName="hour">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of hours;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field fxFlex>
                                                    <mat-label>Open Minute</mat-label>
                                                    <mat-select formControlName="minute">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of minutes;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto" formGroupName="close">
                                                <mat-form-field fxFlex>
                                                    <mat-label>Close Hour</mat-label>
                                                    <mat-select name="hour" formControlName="hour">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of hours;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field fxFlex>
                                                    <mat-label>Close Minute</mat-label>
                                                    <mat-select formControlName="minute">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of minutes;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- week hours start -->

                                    <!-- weekend hours start -->
                                    <fieldset fxFlex="1 1 auto">
                                        <legend>Week End Hours:</legend>
                                        <div fxLayout="column wrap" fxLayoutAlign="space-between stretch"
                                             formGroupName="weekEndHours">
                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto">
                                                <mat-checkbox formControlName="active">active</mat-checkbox>
                                            </div>

                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto"
                                                 formGroupName="open">
                                                <mat-form-field fxFlex>
                                                    <mat-label>Open Hour</mat-label>
                                                    <mat-select name="hour" formControlName="hour">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of hours;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field fxFlex>
                                                    <mat-label>Open Minute</mat-label>
                                                    <mat-select formControlName="minute">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of minutes;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto"
                                                 formGroupName="close">
                                                <mat-form-field fxFlex>
                                                    <mat-label>Close Hour</mat-label>
                                                    <mat-select name="hour" formControlName="hour">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of hours;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field fxFlex>
                                                    <mat-label>Close Minute</mat-label>
                                                    <mat-select formControlName="minute">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of minutes;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                        </div>
                                    </fieldset>
                                    <!-- weekEnd hours ends -->

                                    <!-- shabat hours start -->
                                    <fieldset fxFlex="1 1 auto">
                                        <legend>Shabat Hours:</legend>
                                        <div fxLayout="column wrap" fxLayoutAlign="space-between stretch"
                                             formGroupName="shabatHours">
                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto">
                                                <mat-checkbox formControlName="active">active</mat-checkbox>
                                            </div>

                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto"
                                                 formGroupName="open">
                                                <mat-form-field fxFlex>
                                                    <mat-label>Open Hour</mat-label>
                                                    <mat-select name="hour" formControlName="hour">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of hours;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field fxFlex>
                                                    <mat-label>Open Minute</mat-label>
                                                    <mat-select formControlName="minute">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of minutes;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>

                                            <div class="mb-24" fxLayout="row" fxLayoutAlign="start start"
                                                 fxFlex="1 1 auto"
                                                 formGroupName="close">
                                                <mat-form-field fxFlex>
                                                    <mat-label>Close Hour</mat-label>
                                                    <mat-select name="hour" formControlName="hour">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of hours;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                                <mat-form-field fxFlex>
                                                    <mat-label>Close Minute</mat-label>
                                                    <mat-select formControlName="minute">
                                                        <mat-option [value]="c"
                                                                    *ngFor="let c of minutes;">{{c}}</mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <!-- shabat hours ends -->
                                </div>
                                <fieldset>
                                    <legend>SEO:</legend>
                                    <seo-basic-info formControlName="seo"></seo-basic-info>
                                </fieldset>
                            </div>
                        </form>
                    </mat-tab>

                    <mat-tab label="Photos">
                        <div class="tab-content p-24" fxLayout="row" fusePerfectScrollbar>
                            <div *ngIf="store.pic.length === 0"
                                 class="product-image" fxlayout="row" fxLayoutAlign="center center">
                                <img class="media"
                                     [src]="serverPath + '/assets/store/no-photo-available.png'">
                            </div>

                            <div *ngFor="let image of store.pic">
                                <div class="pb-8">
                                    <div *ngIf="store.pic.length > 0" class="product-image" fxlayout="row"
                                         fxLayoutAlign="center center">
                                        <img class="media" [src]="serverPath + '/assets/store/' + image">
                                    </div>
                                    <button type="button" mat-raised-button (click)="removePhoto(image)">Удалить
                                    </button>
                                </div>
                            </div>


                            <div mat-dialog-content class="p-24 m-0" fxFlex="100" fxFlex.gt-sm="33"
                                 fusePerfectScrollbar>

                                <!--<app-uploads [path]="picPath" [multiple]="true"></app-uploads>-->
                                <div style="margin: 10px 0">
                                    <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
                                </div>
                                <div>
                                    <button mat-raised-button color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" >
                                        Upload
                                    </button>
                                </div>

                            </div>
                        </div>


                    </mat-tab>

                    <mat-tab label="Packages">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <div fxLayout="row">
                                <div class="item" *ngFor="let pack of packCollection; let index = $index">
                                    <fieldset>
                                        <legend><h3>{{ pack.package.name.heb }}</h3></legend>
                                        <div fxLayout="row">
                                            <div style="width: 80%">
                                                <div>Base item: {{ pack.package.baseItem.name.heb }}</div>
                                                <div>Size: {{ ItemSize[pack.package.size] }}</div>
                                            </div>
                                            <div style="width: 20%">
                                                <img
                                                    [src]="serverPath + '/assets/items/' + pack.package.baseItem.picture"/>
                                            </div>
                                        </div>
                                        <div *ngFor="let addItem of pack.package.addItems">
                                            <div fxLayout="row">
                                                <div style="width: 80%">
                                                    Additional items: {{ addItem.name.heb }}
                                                </div>
                                                <div style="width: 20%">
                                                    <img [src]="serverPath + '/assets/items/' + addItem.picture"/>
                                                </div>
                                            </div>
                                        </div>
                                        Price: {{ pack.package.price }}
                                        <mat-form-field fxFlex>
                                            <input matInput [(ngModel)]="pack.price" placeholder="Your price"
                                                   name="price">
                                        </mat-form-field>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Products">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <div fxLayout="row wrap">

                                <div *ngFor="let item of itemsList;" dir="rtl">
                                    <div class="pb-8">
                                        <fieldset>
                                            <legend><h3>{{ item.item.name.heb }}</h3></legend>
                                            <div fxlayout="row" fxFlex="1 1 auto" fxLayoutAlign="center center">
                                                <div>
                                                    <div *ngIf="item.item.picture" class="product-image" fxlayout="row"
                                                         fxLayoutAlign="center center">
                                                        <img class="media"
                                                             [src]="serverPath + '/assets/items/' + item.item.picture">
                                                    </div>
                                                </div>
                                                <div>
                                                    <div fxlayout="column">
                                                        <div>
                                                            <mat-form-field fxFlex>
                                                                <input matInput [(ngModel)]="item.price"
                                                                       placeholder="מחיר לגודל רגיל" value="">
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            <mat-form-field fxFlex>
                                                                <input matInput [(ngModel)]="item.discount"
                                                                       placeholder="הנחת שיפור" value="">
                                                            </mat-form-field>
                                                        </div>
                                                        <div>
                                                            {{ item.price && item.discount ? item.price - item.discount : "" }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Review">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <div fxLayout="column" fxLayoutAlign="start">
                                <div>
                                    <button mat-raised-button color="primary" (click)="addReview()">New Review</button>
                                </div>
                                <div fxLayout="row" *ngFor="let review of store.rate">
                                    <div fxFlex="1 1 20%">
                                        <h3>{{review.name}}</h3>
                                    </div>
                                    <div fxFlex="1 1 60%">
                                        <p>{{review.review}}</p>
                                    </div>
                                    <div fxFlex="1 2 20%">
                                        <span>{{review.date | date: 'dd/MM/yyyy'}}</span>
                                    </div>
                                    <div fxFlex="1 2 20%">
                                        <span>{{review.rate}}</span>
                                    </div>
                                    <div fxFlex="1 2 20%">
                                        <button mat-button color="primary" (click)="editReview(review)">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>

                    <mat-tab label="Delivery">
                        <div class="tab-content p-24" fusePerfectScrollbar>
                            <div fxLayout="column">
                                <div fxFlex="1 1 100%">
                                    <fieldset fxFlex="1 1 50%">
                                        <legend>Add Delivery:</legend>
                                        <div fxLayout="column wrap" fxLayoutAlign="space-between stretch">
                                            <mat-form-field fxFlex>
                                                <mat-label>City:</mat-label>
                                                <mat-select #city [(ngModel)]="selectedCity">
                                                    <mat-option [value]="c"
                                                                *ngFor="let c of cities;">{{c.name.heb}}</mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <mat-form-field fxFlex>
                                                <input matInput placeholder="Enter price of delivery" #price [(ngModel)]="selectedPrice">
                                            </mat-form-field>
                                            <button type="button" mat-raised-button color="primary"
                                                    (click)="addDelivery(city, price)">Add delivery
                                            </button>
                                        </div>
                                    </fieldset>
                                </div>
                                <div>
                                    <div fxLayout="row" fxFlex="1 1 100px" fxlayoutAlign="start center"
                                         *ngFor="let delivery of store.delivery">
                                        <div fxLayout="column" class="p-24" (click)="editDelivery(delivery)">
                                            <div>
                                                {{ getCityName(delivery.city) }}
                                            </div>
                                            <div>
                                                {{ delivery.price }} שייח
                                            </div>
                                            <button type="button" mat-fab color="primary"
                                                    (click)="removeDelivery(delivery.city)">X
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>

            </div>
            <!--/ CONTENT-->

        </div>
        <!--/ CONTENT CARD-->

    </div>
    <!--/ CENTER-->
</div>

