<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="apiHost + categoryPicPath + categoryForm.get('pic').value" class="avatar city-avatar huge m-0"
                 [alt]="category.name.en"/>
            <div class="city-name mt-8">{{category.name.en}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <!--<app-uploads [path]="picPath"></app-uploads>-->
        <div style="margin: 10px 0">
            <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
        </div>
        <div>
            <button mat-raised-button color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" >
                Upload
            </button>
        </div>
        <form [formGroup]="categoryForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_en" formControlName="name_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tagline English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="tagline_en" formControlName="tagline_en" matInput required>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_heb" formControlName="name_heb" matInput required>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex *ngIf="categories | async as cat; else loading">
                    <mat-label>Subcategories</mat-label>
                    <mat-icon matSuffix class="secondary-text">category</mat-icon>
                    <mat-select formControlName="subcategory" multiple>
                        <mat-option value="{{category._id}}" *ngFor="let category of cat">{{category.name.heb}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <ng-template #loading>
                    <mat-spinner></mat-spinner>
                </ng-template>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Tagline Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="tagline_heb" formControlName="tagline_heb" matInput required>
                </mat-form-field>
            </div>

            <h3>Description Hebrew</h3>
            <div fxLayout="row" fxLayoutAlign="start start">
                <angular-editor id="editor1" formControlName="description_heb" [config]="editorConfig"></angular-editor>
            </div>
            <h3>Description English</h3>
            <div fxLayout="row" fxLayoutAlign="start start">
                <angular-editor id="editor2" formControlName="description_en" [config]="editorConfig"></angular-editor>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="renderOnHomePage">Render To Home Page</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="disabled">Disabled</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="toTopMenu">Render To Top Menu</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="toFooterMenu">Render To Footer Menu</mat-checkbox>
            </div>

            <fieldset>
                <legend>SEO</legend>
                <seo-basic-info formControlName="seo"></seo-basic-info>
            </fieldset>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',categoryForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(categoryForm)"
                [disabled]="categoryForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',categoryForm])"
                [disabled]="categoryForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
