<div id="order" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-16" [routerLink]="'/apps/orders'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div fxLayout="column" fxLayoutAlign="start start"
                     [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2">
                        Order {{order.orderNumber}}
                    </div>
                    <div class="subtitle secondary-text">
                        <span>  {{_deliveryType[order.deliveryDetails.deliveryType]}} </span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group fxLayout="column" fxFlex>

                    <mat-tab label="Order Details">

                        <div class="order-details tab-content p-24" fusePerfectScrollbar>

                            <div class="section pb-48">



                                <mat-accordion class="addresses">
                                    <mat-expansion-panel>

                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Customer </mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div fxFlex fxLayout="column" *ngIf="order.customerDitails !== undefined">
                                            <h2>
                                                {{ order.customerDitails.fullName}}
                                            </h2>
                                            <div class="address h4">
                                                <ul>
                                                    <li><span>Email : </span><span>{{order.customerDitails.email}}</span></li>
                                                    <li><span>Mobile : </span><span>{{order.customerDitails.mobile}}</span></li>
                                                    <li><span>Invoice : </span><span>{{order.customerDitails.invoice}}</span></li>
                                                    <li><span>Company Name : </span><span>{{order.customerDitails.companyName}}</span></li>
                                                    <li><span>Adress: </span><span>{{order.customerDitails.address }}</span></li>
                                                    <li><span>Method for receiving : </span><span>{{_deliveryType[order.deliveryDetails.deliveryType]}}</span></li>
                                                    <li><span>Status : </span><span> {{order.status.length === 0 ? '-' :orderStatuses[order.status[order.status.length -1].type]}}</span></li>

                                                </ul>
                                            </div>

                                        </div>

                                    </mat-expansion-panel>
                                    <mat-expansion-panel>

                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Delivery Address</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div fxFlex fxLayout="column">
                                            <div class="address h4 py-24">
                                            <ul *ngIf="order.deliveryDetails!==undefined && order.deliveryAddress!==undefined">
                                                <li><span>Recipient fullName: </span><span>{{order.deliveryDetails.recipient.fullName }}</span></li>
                                                <li><span>Recipient mobile: </span><span>{{order.deliveryDetails.recipient.mobile}}</span></li>
                                                <li><span>Date: </span><span>{{order.deliveryDetails.date | date}}</span></li>
                                                <li><span>Hours : </span><span>{{order.deliveryDetails.hours}}</span></li>
                                                <li><span>Blessing : </span><span>{{order.deliveryDetails.blessing}}</span></li>
                                                <li><span>Special requests : </span><span>{{order.deliveryDetails.specialRequests}}</span></li>
                                                <li><span>Destination type : </span><span>{{order.deliveryAddress.destinationType}}</span></li>
                                                <li><span>Company name  : </span><span>{{order.deliveryAddress.companyName}}</span></li>
                                                <li><span>City : </span><span>{{order.deliveryAddress.city.name.en}}</span></li>
                                                <li><span>Average Price : </span><span>{{order.deliveryAddress.city.averagePrice}}</span></li>
                                                <li><span>Region : </span><span>{{order.deliveryAddress.city.region.name.en}}</span></li>
                                                <li><span>Country : </span><span>{{order.deliveryAddress.city.country.name.en                                                                                                                                                                                                                                                                                                       }}</span></li>
                                                <li><span>Street : </span><span>{{order.deliveryAddress.street}}</span></li>
                                                <li><span>House : </span><span>{{order.deliveryAddress.house}}</span></li>
                                                <li><span>Apartement : </span><span>{{order.deliveryAddress.apartment}}</span></li>
                                                <li><span>floor : </span><span>{{order.deliveryAddress.floor}}</span></li>
                                                <li><span>instructions : </span><span>{{order.deliveryAddress.instructions}}</span></li>

                                                <li><span>Order Number : </span><span>{{order.orderNumber}}</span></li>


                                            </ul>
                                            </div>
                                        </div>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>

                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Store information</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div fxFlex fxLayout="column" *ngIf="store!==undefined">
                                            <h2>
                                                {{store.name.en}}
                                            </h2>
                                            <div class="address h4">
                                                <ul>
                                                    <li><span>Address : </span><span>{{store.address.en}}</span></li>
                                                    <li><span>City : </span><span>{{store.city.name.en}}</span></li>
                                                    <li><span>Mobile : </span><span>{{store.mobile}}</span></li>
                                                    <li><span>Email : </span><span>{{store.mail}}</span></li>
                                                    <li><span>Fax : </span><span>{{store.fax}}</span></li>
                                                </ul>
                                            </div>

                                        </div>

                                    </mat-expansion-panel>

                                </mat-accordion>

                            </div>

                            <div class="section pb-48">

                                <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                    <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                    <div class="h2 secondary-text">Order Status</div>
                                </div>

                                <table class="simple">
                                    <thead>
                                    <tr>
                                        <th>Status</th>
                                        <th>Updated On</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                     <tr *ngFor="let status of order.status">
                                         <td>
                                                 <span class="status h6 p-4"  [ngClass]="statusColors[status.type]" >
                                                     {{orderStatuses[status.type]}}
                                                 </span>
                                         </td>
                                         <td>
                                                 <span>
                                                     {{status.date | date}}
                                                 </span>
                                         </td>
                                     </tr>
                                     </tbody>
                                 </table>

                                 <form class="update-status p-24"
                                       (ngSubmit)="updateStatus(order._id)"
                                       [formGroup]="statusForm"
                                       fxLayout="row" fxLayoutAlign="start center">

                                     <mat-form-field appearance="outline" class="mr-16" fxFlex>
                                         <mat-label>Status</mat-label>
                                         <mat-select formControlName="newStatus"
                                                     required>
                                             <mat-option *ngFor="let status of orderStatuses.values(); let i = index" [attr.data-index]="i"
                                                         [value]="i">
                                                 {{status}}
                                             </mat-option>
                                         </mat-select>
                                     </mat-form-field>

                                     <button mat-raised-button class="mat-accent"
                                             [disabled]="statusForm.invalid">
                                         Update Status
                                     </button>
                                 </form>

                             </div>

                                                        <div class="section pb-48">

                                                            <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                                                <mat-icon class="m-0 mr-16 secondary-text">attach_money</mat-icon>
                                                                <div class="h2 secondary-text">Payment</div>
                                                            </div>

                                                            <table class="simple">
                                                                <thead>
                                                                <tr *ngIf="order.paymentType == _payementType.creditCard ||  order.creditCardDetails !== undefined ">
                                                                    <th >TransactionID</th>
                                                                    <th>Name</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                                </tr>
                                                                <tr *ngIf="order.paymentType == _payementType.phone">

                                                                    <th  >Mobile</th>
                                                                    <th>Fullname</th>

                                                                    <th>Email</th>
                                                                    <th>Status</th>
                                                                    <th>Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr  *ngIf="order.paymentType == _payementType.phone && order.phonePaymentDetails !== undefined">

                                                                    <td>
                                                                        <span class="text-truncate">
                                                                            {{order.phonePaymentDetails.mobile}}
                                                                        </span>
                                                                     </td>
                                                                    <td>
                                                                            <span class="text-truncate" >
                                                                                 {{order.phonePaymentDetails.fullName}}
                                                                            </span>
                                                                    </td>
                                                                    <td>
                                                                            <span class="text-truncate" >
                                                                                 {{order.phonePaymentDetails.email}}
                                                                            </span>
                                                                    </td>
                                                                    <td>
                                                                              <span class="text-truncate" >
                                                                                 {{order.status.length === 0 ? '-' :orderStatuses[order.status[order.status.length -1].type]}}
                                                                            </span>
                                                                    </td>
                                                                    <td>
                                                                              <span class="text-truncate" >
                                                                               {{order.status.length === 0 ? '-' :order.status[order.status.length -1].date | date}}
                                                                            </span>
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                         <!--
                                                        <div class="section pb-48">

                                                            <div class="pb-16" fxLayout="row" fxLayoutAlign="start center">
                                                                <mat-icon class="m-0 mr-16 secondary-text">local_shipping</mat-icon>
                                                                <div class="h2 secondary-text">Shipping</div>
                                                            </div>

                                                            <table class="simple">
                                                                <thead>
                                                                <tr>
                                                                    <th>Tracking Code</th>
                                                                    <th>Carrier</th>
                                                                    <th>Weight</th>
                                                                    <th>Fee</th>
                                                                    <th>Date</th>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr *ngFor="let shipping of order.shippingDetails">
                                                                    <td class="tracking-code">
                                                                        {{shipping.tracking}}
                                                                    </td>
                                                                    <td>
                                                                        {{shipping.carrier}}
                                                                    </td>
                                                                    <td>
                                                                        {{shipping.weight}}
                                                                    </td>
                                                                    <td>
                                                                        {{shipping.fee}}
                                                                    </td>
                                                                    <td>
                                                                        {{shipping.date}}
                                                                    </td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>


                                                    -->
                        </div>
                                                </mat-tab>



                                                <mat-tab label="Products">
                                                    <div class="products tab-content p-24" fusePerfectScrollbar>
                                                        <table class="simple">
                                                            <thead>
                                                            <tr>
                                                                <th class="w-80">ID</th>
                                                                <th class="w-120">Image</th>
                                                                <th>Name</th>
                                                                <th class="w-80">Quantity</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>

                                                            <tr class="product-row" *ngIf="baseItem" >
                                                                <td>
                                                                    {{baseItem.code}}
                                                                </td>
                                                                <td>
                                                                    <img class="product-image" [src]="apiHost+'/assets/items/'+baseItem.picture">
                                                                </td>
                                                                <td>
                                                                    {{baseItem.name.heb}} {{baseItem.name.en}}
                                                                </td>

                                                                <td>
                                                                   01
                                                                </td>
                                                            </tr>
                                                            <tr class="product-row"
                                                                *ngFor="let product of pac.addItems"
                                                            >
                                                                <td>
                                                                    {{product.code}}
                                                                </td>
                                                                <td>
                                                                    <img class="product-image" [src]="apiHost+'/assets/items/'+product.picture">
                                                                </td>
                                                                <td>
                                                                    {{product.name.heb}} {{product.name.en}}
                                                                </td>

                                                                <td>
                                                                    01
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </mat-tab>
<!--
                                                <mat-tab label="Invoice">

                                                    <div class="invoice tab-content p-24" fusePerfectScrollbar>

                                                        <div id="invoice" class="compact page-layout blank" fxLayout="row" fusePerfectScrollbar>

                                                            <div class="invoice-container">

                                                                INVOICE
                                                                <div class="card">

                                                                    <div class="header">
                                                                        <div class="invoice-date">{{order.date}}</div>

                                                                        <div fxLayout="row" fxLayoutAlign="space-between stretch">
                                                                            <div class="client">
                                                                                <div class="invoice-number" fxLayout="row"
                                                                                     fxLayoutAlign="start center">
                                                                                    <span class="title">INVOICE</span>
                                                                                    <span class="number">{{order.reference}}</span>
                                                                                </div>

                                                                                <div class="info">
                                                                                    <div class="title">
                                                                                        {{order.customer.firstName}}
                                                                                        {{order.customer.lastName}}
                                                                                    </div>
                                                                                    <div class="address">
                                                                                        {{order.customer.invoiceAddress.address}}
                                                                                    </div>
                                                                                    <div class="phone">{{order.customer.phone}}</div>
                                                                                    <div class="email">{{order.customer.email}}</div>
                                                                                </div>
                                                                            </div>

                                                                            <div class="issuer accent" fxLayout="row" fxLayoutAlign="start center">
                                                                                <div class="logo">
                                                                                    <img src="assets/images/logos/fuse.svg">
                                                                                </div>

                                                                                <div class="info">
                                                                                    <div class="title">FUSE INC.</div>
                                                                                    <div class="address">2810 Country Club Road Cranford, NJ 07016
                                                                                    </div>
                                                                                    <div class="phone">+66 123 455 87</div>
                                                                                    <div class="email">hello@fuseinc.com</div>
                                                                                    <div class="website">www.fuseinc.com</div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="content">

                                                                        <table class="simple invoice-table">
                                                                            <thead>
                                                                            <tr>
                                                                                <th>PRODUCT</th>
                                                                                <th class="text-right">PRICE</th>
                                                                                <th class="text-right">QUANTITY</th>
                                                                                <th class="text-right">TOTAL</th>
                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr *ngFor="let product of order.products">
                                                                                <td>
                                                                                    <div class="title">
                                                                                        {{product.name}}
                                                                                    </div>
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{product.price | currency:'USD':'symbol'}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{product.quantity}}
                                                                                </td>
                                                                                <td class="text-right">
                                                                                    {{product.total | currency:'USD':'symbol'}}
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                        <table class="simple invoice-table-footer">
                                                                            <tbody>
                                                                            <tr class="subtotal">
                                                                                <td>SUBTOTAL</td>
                                                                                <td>{{order.subtotal | currency:'USD':'symbol'}}</td>
                                                                            </tr>
                                                                            <tr class="tax">
                                                                                <td>TAX</td>
                                                                                <td>{{order.tax | currency:'USD':'symbol'}}</td>
                                                                            </tr>
                                                                            <tr class="discount">
                                                                                <td>DISCOUNT</td>
                                                                                <td>-{{order.discount | currency:'USD':'symbol'}}</td>
                                                                            </tr>
                                                                            <tr class="total">
                                                                                <td>TOTAL</td>
                                                                                <td>{{order.total | currency:'USD':'symbol'}}</td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </div>

                                                                    <div class="footer">
                                                                        <div class="note">Please pay within 15 days. Thank you for your business.
                                                                        </div>
                                                                        <div fxLayout="row" fxLayoutAlign="start start">
                                                                            <div class="logo">
                                                                                <img src="assets/images/logos/fuse.svg">
                                                                            </div>
                                                                            <div class="small-note">
                                                                                In condimentum malesuada efficitur. Mauris volutpat placerat auctor.
                                                                                Ut ac congue dolor. Quisque scelerisque lacus sed feugiat fermentum.
                                                                                Cras aliquet facilisis pellentesque. Nunc hendrerit quam at leo
                                                                                commodo, a suscipit tellus dapibus. Etiam at felis volutpat est
                                                                                mollis lacinia. Mauris placerat sem sit amet velit mollis, in
                                                                                porttitor ex finibus. Proin eu nibh id libero tincidunt lacinia et
                                                                                eget eros.
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>  -->
                                    <!-- / INVOICE

                                </div>
                    </mat-tab>
-->

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
