<mat-table  #table matSort [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
  <!-- Checkbox Column -->
  <ng-container cdkColumnDef="checkbox">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let store">
      <mat-checkbox [(ngModel)]="checkboxes[store._id]" (ngModelChange)="onSelectedChange(store._id)"
                    (click)="$event.stopPropagation()">
      </mat-checkbox>
    </mat-cell>
  </ng-container>

  <!-- Avatar Column -->
  <ng-container cdkColumnDef="logo">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let store">
      <img class="avatar" *ngIf="store.driverPhoto" [alt]="store.name.en"
           [src]="serverPath + 'assets/images/drivers/' + driver.driverPhoto"/>
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container cdkColumnDef="name">
    <mat-header-cell *cdkHeaderCellDef>Name Eng</mat-header-cell>
    <mat-cell *cdkCellDef="let store">
      <p class="text-truncate font-weight-600">{{store.name.en}}</p>
    </mat-cell>
  </ng-container>

    <!-- Phone Column -->
  <ng-container cdkColumnDef="phone">
    <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>phone</mat-header-cell>
    <mat-cell *cdkCellDef="let store" fxHide fxShow.gt-md>
      <p class="phone text-truncate">
        {{store.tel}}
      </p>
    </mat-cell>
  </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="fax">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Fax</mat-header-cell>
        <mat-cell *cdkCellDef="let store" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{store.fax}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container cdkColumnDef="mobile">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Mobile</mat-header-cell>
        <mat-cell *cdkCellDef="let store" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{store.mobile}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="mail">
        <mat-header-cell *cdkHeaderCellDef fxHide fxShow.gt-md>Email</mat-header-cell>
        <mat-cell *cdkCellDef="let store" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{store.mail}}
            </p>
        </mat-cell>
    </ng-container>

  <!-- Buttons Column -->
  <ng-container cdkColumnDef="buttons">
    <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
    <mat-cell *cdkCellDef="let store">
      <!--<div fxFlex="row" fxLayoutAlign="end center">-->
      <!--<button mat-icon-button (click)="$event.stopPropagation();toggleStar(driver._id)" aria-label="Toggle star">
          <mat-icon class="amber-fg" *ngIf="user.starred.includes(driver._id)">star</mat-icon>
          <mat-icon class="secondary-text" *ngIf="!user.starred.includes(driver._id)">star_outline</mat-icon>
      </button>-->

      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
              (click)="$event.stopPropagation();">
        <mat-icon class="secondary-text">more_vert</mat-icon>
      </button>

      <mat-menu #moreMenu="matMenu">
        <button mat-menu-item aria-label="remove" (click)="deleteStore(store)">
          <mat-icon>delete</mat-icon>
          <span>Remove</span>
        </button>
      </mat-menu>
      <!--</div>-->

    </mat-cell>
  </ng-container>

  <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *cdkRowDef="let store; columns: displayedColumns;"
           class="contact"
           [ngClass]="{'mat-light-blue-50-bg':checkboxes[store._id]}"
           matRipple
           [routerLink]="'/apps/stores/'+store._id"
           [@animate]="{value:'*',params:{y:'100%'}}">
  </mat-row>
</mat-table>


