<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img
                [src]="apiHost + itemPicPath + itemForm.get('picture').value"
                class="avatar city-avatar huge m-0"
                [alt]="item.name.heb"/>
            <div class="city-name mt-8">{{item.name.heb}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <!--<app-uploads [path]="picPath"></app-uploads>-->
        <div class="p-24">
            <div style="margin: 10px 0">
                <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
            </div>
            <div>
                <button mat-raised-button color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" >
                    Upload
                </button>
            </div>
        </div>

        <form [formGroup]="itemForm">
            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_heb" formControlName="name_heb" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_en" formControlName="name_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <angular-editor id="editor1" formControlName="description_heb" [config]="editorConfig"></angular-editor>
                <!--<mat-form-field appearance="outline" fxFlex>
                    <mat-label>Description Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="description_heb" formControlName="description_heb" matInput required>
                </mat-form-field>-->
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <angular-editor id="editor2" formControlName="description_en" [config]="editorConfig"></angular-editor>
                <!--<mat-form-field appearance="outline" fxFlex>
                    <mat-label>Description English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="description_en" formControlName="description_en" matInput required>
                </mat-form-field>-->
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Code</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="code" formControlName="code" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Category</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <mat-select formControlName="category" multiple>
                        <mat-option value="{{c._id}}" *ngFor="let c of categories">
                            {{c.name.heb}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="additional">Additional item</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="recommended">Recommended item</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="deal">Daly Deal</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-checkbox formControlName="inStock">in Stock</mat-checkbox>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Sale Price</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="price" formControlName="price" matInput required>
                </mat-form-field>
            </div>
            <fieldset>
                <legend>SEO</legend>
                <seo-basic-info formControlName="seo"></seo-basic-info>
            </fieldset>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',itemForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(itemForm)"
                [disabled]="itemForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',itemForm])"
                [disabled]="itemForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
