<div class="row">
    <button mat-button class="upload" (click)="show = !show">Upload file</button>
    <ng-container *ngIf="show">
        <div *ngIf="fileUpload.status==='error'">
            <div [innerHTML]="fileUpload.message"></div>
        </div>
        <div *ngIf="fileUpload.status==='progress'">
            <mat-progress-bar mode="determinate" value="{{fileUpload.message}}"></mat-progress-bar>
        </div>
        <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
            <div class="file-upload-row">
                <input type="file" name="profile[]" (change)="onSelectedFile($event)" [attr.multiple]="multiple?true:null"/>
            </div>
            <div class="file-upload-row">
                <button mat-raised-button color="primary" type="submit" class="btn btn-success">
                    Upload
                </button>
            </div>
        </form>
        <p>{{ error }}</p>
    </ng-container>
</div>