<mat-table #table matSort [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
            <mat-checkbox [(ngModel)]="checkboxes[item._id]" (ngModelChange)="onSelectedChange(item._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container> 

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
            <img class="avatar" *ngIf="item.picture" [alt]="item.name.en"
                 [src]="apiHost + itemPicPath + item.picture"/>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name_heb">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name Hebrew</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <p class="text-truncate font-weight-600">{{item.name.heb}}</p>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name_en">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name English</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <p class="text-truncate font-weight-600">{{item.name.en}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="code">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Code</mat-header-cell>
        <mat-cell *matCellDef="let item">
            <p class="text text-truncate">{{item.code}}</p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="inStock">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>in Stock</mat-header-cell>
        <mat-cell *matCellDef="let item" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                <mat-icon *ngIf="item.inStock">check_circle</mat-icon>
                <mat-icon *ngIf="!item.inStock">cancel</mat-icon>
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="additional">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Additional</mat-header-cell>
        <mat-cell *matCellDef="let item" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                <mat-icon *ngIf="item.additional">check_circle</mat-icon>
                <mat-icon *ngIf="!item.additional">cancel</mat-icon>
            </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="recommended">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Recommended</mat-header-cell>
        <mat-cell *matCellDef="let item" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                <mat-icon *ngIf="item.recommended">check_circle</mat-icon>
                <mat-icon *ngIf="!item.recommended">cancel</mat-icon>
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="dalydeal">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Daly Deal</mat-header-cell>
        <mat-cell *matCellDef="let item" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                <mat-icon *ngIf="item.dayDeal">check_circle</mat-icon>
                <mat-icon *ngIf="!item.dayDeal">cancel</mat-icon>
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Price</mat-header-cell>
        <mat-cell *matCellDef="let item" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{item.price}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let item">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--<button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact._id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact._id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact._id)">star_border</mat-icon>
                </button>-->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteItem(item)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let item; columns: displayedColumns;"
             class="contact"
             (click)="editItem(item)"
             [ngClass]="{'accent-50':checkboxes[item._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


