@import "src/@fuse/scss/fuse";

#add-article-button {
    position: absolute;
    bottom: 12px;
    right: 12px;
    padding: 0;
    z-index: 99;

    @include media-breakpoint("xs") {
        position: sticky;
        top: calc(100vh - 120px);
        bottom: auto;
    }
}

.md-dialog-container {
    background-color: #000;
    width: 70%;
    height: 250px
}