<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let pack">
            <mat-checkbox [(ngModel)]="checkboxes[pack._id]" (ngModelChange)="onSelectedChange(pack._id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="color" style="width: 40px;">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell fxFlex="0 0 50px" *matCellDef="let pack">
            <div style="width: 30px; height: 30px; border-radius: 50px" [style.background-color]="pack.color">

            </div>
        </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let pack" fxLayoutAlign="center">
            <p class="text-truncate font-weight-600">{{pack.name.heb}}</p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="Price">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Price</mat-header-cell>
        <mat-cell *matCellDef="let pack" fxHide fxShow.gt-sm fxLayoutAlign="center">
            <p class="email text-truncate">
                {{pack.price}}
            </p>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="ItemSize">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Item Size</mat-header-cell>
        <mat-cell *matCellDef="let pack" fxHide fxShow.gt-sm fxLayoutAlign="center">
            <p class="email text-truncate">
                {{ItemSize[pack.size]}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let pack">
            <div fxFlex="row" fxLayoutAlign="end center">
                <!--<button mat-icon-button (click)="$event.stopPropagation();toggleStar(contact._id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="user.starred.includes(contact._id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!user.starred.includes(contact._id)">star_border</mat-icon>
                </button>-->

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deletePackage(pack)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let pack; columns: displayedColumns;"
             class="contact"
             (click)="editPackage(pack)"
             [ngClass]="{'accent-50':checkboxes[pack._id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


