<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="apiHost + regionPicPath + regionForm.get('pic').value" class="avatar city-avatar huge m-0"
                 [alt]="region.name.en"/>
            <div class="city-name mt-8">{{region.name.en}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>
        <!--<app-uploads [path]="picPath"></app-uploads>-->

        <div class="p-24">
            <div style="margin: 10px 0">
                <input type="file" name="file" ng2FileSelect [uploader]="uploader"/>
            </div>
            <div>
                <button mat-raised-button color="primary" type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length" >
                    Upload
                </button>
            </div>
        </div>

        <form [formGroup]="regionForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_en" formControlName="name_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_heb" formControlName="name_heb" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Country</mat-label>
                    <mat-icon matSuffix class="secondary-text">star</mat-icon>
                    <mat-select formControlName="country">
                        <mat-option *ngFor="let c of countries" value="{{c._id}}">
                            {{c.name.heb}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',regionForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(regionForm)"
                [disabled]="regionForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',regionForm])"
                [disabled]="regionForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
