<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!--<mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="package.pic !== null && package.pic !== ''?apiHost+'/'+package.pic:apiHost+'/assets/avatar/profile.jpg'" class="avatar contact-avatar huge m-0"
                 [alt]="package.fullName"/>
            <div class="contact-name mt-8">{{contact.fullName}}</div>
        </mat-toolbar-row>-->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="packageForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name Hebrew</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_heb" formControlName="name_heb" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Name English</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="name_en" formControlName="name_en" matInput required>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Color</mat-label>
                    <mat-icon matSuffix class="secondary-text">color_lens</mat-icon>
                    <input [(colorPicker)]="color" [style.background]="color" [cpOKButton]="true" [cpCancelButton]="true" (cpInputChange)="setColor($event)" (colorPickerChange)="setColor($event)" name="color" formControlName="color" matInput>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Size</mat-label>
                    <mat-icon matSuffix class="secondary-text">format_size</mat-icon>
                    <mat-select formControlName="size">
                        <mat-option [value]="itemsize[type]" *ngFor="let type of itemSize;">{{type}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Base Item</mat-label>
                    <mat-icon matSuffix class="secondary-text">local_florist</mat-icon>
                    <mat-select formControlName="baseItem">
                        <mat-option value="{{item._id}}" *ngFor="let item of baseItems;">{{item.name.heb}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Additional Items</mat-label>
                    <mat-icon matSuffix class="secondary-text">local_florist</mat-icon>
                    <mat-select formControlName="addItems" multiple>
                        <mat-option value="{{item._id}}" *ngFor="let item of additionalItems;">{{item.name.heb}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Price</mat-label>
                    <mat-icon matSuffix class="secondary-text">local_atm</mat-icon>
                    <input name="price" formControlName="price" matInput>
                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',packageForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(packageForm)"
                [disabled]="packageForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',packageForm])"
                [disabled]="packageForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
